.app {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-footer {
  position: absolute;
  bottom: 1.6%;
  text-transform: uppercase;
  width: 100%;
  font-size: 24px;
  text-align: center;
  letter-spacing: 5px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: lighter;
  color: rgba(236, 100, 9, 0.28);
  user-select: none;
}

.app-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -4;
}

.fireworks {
  background-image: url("./images/fireworks.png");
  background-position-y: top;
}

.title {
  background-image: url("./images/title.png");
  background-size: contain;
  background-position-x: left;
  width: 344px;
  height: 478px;
  margin-top: 11px;
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -172px;
  z-index: 1;
}

.kanban-erika {
  background-image: url("./images/kanban-erika.png");
  background-position-x: left;
}

.kanban-misty {
  background-image: url("./images/kanban-misty.png");
  background-position-x: right;
}

.background-mobile {
  background-image: url("./images/background-mobile.png");
  background-position: center bottom;
  display: none;
}

.cloud {
  background-image: url("./images/cloud.png");
  background-position-x: right;
  display: none;
}

.cloud-left {
  transform: scaleX(-1);
}

.fireworks, .kanban-erika, .kanban-misty,
.cloud, .background-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.background-mobile {
  background-size: 100% auto;
}

.app-navs {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -13.9%;
  width: 27.8%;
}

.nav-game {
  position: relative;
  z-index: 1;
  margin: auto auto 4.4%;
  width: 74.16%;
  padding-top: 14.42%;
  background: url("./images/nav-game.png") no-repeat top center;
  background-size: contain;
  cursor: pointer;
}

.nav-game-start {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15.91%;
  opacity: 0;
  background: url("./images/nav-game-start.png") no-repeat center bottom;
  background-size: contain;
  width: 31.82%;
  height: 24.68%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav-game:hover > .nav-game-start {
  animation: fadeIn 1s infinite alternate;
}

.nav-game:hover::before {
  display: block;
  content: "";
  position: absolute;
  left: -12.625%;
  top: 0;
  z-index: -1;
  width: 125.25%;
  height: 100%;
  background: url("./images/nav-game-hover.png") no-repeat center;
  background-size: contain;
}

.nav-splitters {
  background: url("./images/nav-splitters.png") no-repeat center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 12%;
  width: 76%;
  padding-top: 44%;
  z-index: -1;
}

.nav-links {
  width: 100%;
}

.nav-schedule {
  background-image: url("./images/nav-schedule.png");
}

.nav-place {
  background-image: url("./images/nav-place.png");
}

.nav-prize {
  background-image: url("./images/nav-prize.png");
}

.nav-ticket {
  background-image: url("./images/nav-ticket.png");
}

.nav-events {
  background-image: url("./images/nav-events.png");
}

.nav-stall {
  background-image: url("./images/nav-stall.png");
}

.nav-link {
  float: left;
  width: 8%;
  padding: 6px 0;
  margin-left: 10.4%;
  position: relative;
  z-index: 2;
}

.nav-link:hover::before, .nav-link-selected::before {
  display: block;
  content: "";
  position: absolute;
  left: -32.85%;
  top: -18.25%;
  z-index: -1;
  width: 165.7%;
  height: 136.5%;
  background: url("./images/nav-hover.png") no-repeat center;
  background-size: contain;
}

.nav-link > a {
  display: block;
  width: 100%;
  padding-top: 550%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.nav-link:nth-child(1) {
  margin-left: 0;
}

.container-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.hidden-object {
  display: none;
}

@media (max-width: 720px) {
  .app-footer {
    font-size: 16px;
  }
}

@media (max-aspect-ratio: 4/3) {
  @media (min-aspect-ratio: 1/1) {
    .nav-game {
      display: none;
    }
  }

  .app-navs {
    left: 50%;
    margin-left: -40%;
    width: 80%;
  }

  .kanban-erika, .kanban-misty {
    display: none;
  }

  .kanban-mobile, .cloud {
    display: block;
    opacity: 0.26;
  }
}

@media (max-width: 720px), (max-height: 840px) {
  .title {
    top: 6px;
    width: 229px;
    height: 318px;
    margin-left: -114.5px;
  }
}

@media (max-width: 320px), (max-height: 600px) {
  .title {
    width: 172px;
    height: 239px;
    margin-left: -86px;
  }
}

@media (max-width: 240px), (max-height: 400px) {
  .title {
    width: 138px;
    height: 191px;
    margin-left: -69px;
  }
}

@media (max-width: 720px) and (max-aspect-ratio: 10/16) {
  .app-navs {
    bottom: 25%;
  }

  .kanban-mobile, .cloud {
    display: none;
  }

  .background-mobile {
    display: block;
  }
}
